.navbar4-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar4-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar4-image1 {
  height: 3rem;
}
.navbar4-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar4-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar4-link1 {
  text-decoration: none;
}
.navbar4-link2 {
  text-decoration: none;
}
.navbar4-link3 {
  text-decoration: none;
}
.navbar4-link4 {
  text-decoration: none;
}
.navbar4-link5 {
  text-decoration: none;
}
.navbar4-buttons {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar4-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar4-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar4-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar4-logo {
  height: 3rem;
}
.navbar4-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar4-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar4-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar4-link11 {
  text-decoration: none;
}
.navbar4-link21 {
  text-decoration: none;
}
.navbar4-link31 {
  text-decoration: none;
}
.navbar4-link41 {
  text-decoration: none;
}
.navbar4-link51 {
  text-decoration: none;
}
.navbar4-buttons1 {
  gap: var(--dl-space-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
}
.navbar4-burger-menu {
  display: none;
}
.navbar4-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .navbar4-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar4-burger-menu {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar4-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .navbar4-desktop-menu {
    display: none;
  }
  .navbar4-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
  .navbar4-burger-menu {
    display: flex;
  }
}

.hero8-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero8-max-width {
  align-self: center;
}
.hero8-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero8-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero8-text {
  text-align: center;
}
.hero8-text01 {
  align-self: stretch;
  text-align: left;
}
.hero8-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.hero8-text03 {
  align-self: stretch;
}
.hero8-text04 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
}
.hero8-text06 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
}
.hero8-text08 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
}
@media(max-width: 479px) {
  .hero8-actions {
    width: 100%;
    flex-direction: column;
  }
}

.stats2-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.stats2-container1 {
  width: 565px;
  height: 441px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.stats2-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stats2-container2 {
  width: 465px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}
.stats2-container3 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.stats2-text {
  width: 285px;
  text-align: right;
}
.stats2-text2 {
  width: 294px;
}
.stats2-text3 {
  text-align: right;
}
@media(max-width: 479px) {
  .stats2-container {
    flex-direction: column;
  }
  .stats2-container1 {
    width: 100%;
    height: auto;
  }
  .stats2-image {
    width: 100%;
    height: auto;
    align-self: flex-start;
  }
  .stats2-container3 {
    width: 100%;
    justify-content: flex-start;
  }
  .stats2-text {
    align-self: flex-start;
    text-align: center;
  }
  .stats2-text1 {
    align-self: flex-start;
    text-align: center;
  }
  .stats2-text2 {
    width: 100%;
    align-self: flex-end;
    text-align: left;
  }
  .stats2-text3 {
    text-align: left;
  }
}

.logos1-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos1-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos1-text {
  text-align: center;
}
.logos1-logo1 {
  object-fit: contain;
}
.logos1-logo2 {
  object-fit: contain;
}
.logos1-logo3 {
  object-fit: contain;
}
.logos1-logo4 {
  object-fit: contain;
}
.logos1-logo5 {
  object-fit: contain;
}
.logos1-logo6 {
  object-fit: contain;
}

@media(max-width: 767px) {
  .logos1-container {
    gap: var(--dl-space-space-twounits);
  }
  .logos1-max-width {
    gap: var(--dl-space-space-twounits);
  }
}

.features11-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.features11-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features11-column {
  gap: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-shrink: 0;
}
.features11-content {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features11-row {
  align-items: flex-start;
}
.features11-feature1 {
  flex: 1;
}
.features11-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.features11-feature2 {
  flex: 1;
}
.features11-content2 {
  align-self: stretch;
  align-items: flex-start;
}
.features11-feature3 {
  flex: 1;
}
.features11-content3 {
  align-self: stretch;
  align-items: flex-start;
}
.features11-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .features11-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .features11-feature1-image {
    height: 260px;
  }
  .features11-feature2-image {
    height: 260px;
  }
  .features11-feature3-image {
    height: 260px;
  }
}
@media(max-width: 767px) {
  .features11-column {
    width: 100%;
  }
  .features11-text1 {
    text-align: center;
  }
  .features11-row {
    flex-direction: column;
  }
  .features11-feature1-image {
    width: 100%;
  }
  .features11-feature2 {
    width: auto;
  }
  .features11-feature2-image {
    width: 100%;
  }
  .features11-feature3 {
    width: auto;
  }
  .features11-actions {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .features11-actions {
    width: 100%;
    flex-direction: column;
  }
}

.footer1-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer1-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
.footer1-newsletter {
  gap: 24px;
  width: 500px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer1-image1 {
  height: var(--dl-size-size-small);
}
.footer1-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer1-text {
  top: 93px;
  left: 0px;
  position: absolute;
  animation-name: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.footer1-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footer1-container1 {
  width: 365px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.footer1-content2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer1-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer1-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer1-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-link1 {
  text-decoration: none;
}
.footer1-link2 {
  text-decoration: none;
}
.footer1-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer1-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer1-link7 {
  text-decoration: none;
}
.footer1-link8 {
  text-decoration: none;
}
.footer1-link9 {
  text-decoration: none;
}
.footer1-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.footer1-row {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer1-footer-links2 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .footer1-newsletter {
    width: 300px;
  }
  .footer1-form {
    width: 100%;
    flex-direction: column;
  }
  .footer1-container1 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .footer1-content {
    flex-direction: column;
  }
  .footer1-newsletter {
    width: 100%;
  }
  .footer1-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer1-container1 {
    width: 100%;
  }
  .footer1-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer1-column1 {
    align-items: center;
  }
  .footer1-column1-title {
    text-align: center;
  }
  .footer1-footer-links {
    align-self: center;
  }
  .footer1-column2 {
    align-items: center;
  }
  .footer1-column2-title {
    text-align: center;
  }
  .footer1-footer-links1 {
    align-self: center;
  }
  .footer1-row {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .footer1-actions {
    width: 100%;
  }
  .footer1-form {
    width: 100%;
    flex-direction: column;
  }
  .footer1-container1 {
    width: 100%;
  }
  .footer1-links {
    flex-direction: column;
  }
  .footer1-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer1-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer1-credits {
    gap: 0;
  }
  .footer1-row {
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
